:root {
    --button_background: rgb(44, 123, 171);
    --secondary: rgb(230, 126, 143);

}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

/*High Score Link Style*/
#high_scores {
    position: relative;
    margin-left: 5%;
    font-weight: 100;
    color: var(--secondary);
}

#high_scores:hover {
    color: var(--button_background);
    cursor: grab;
}


/*Timer Style*/
#timer {
    position: relative;
    color: var(--secondary);
    text-align: right;
    margin: -4% 5% 0 0;
    font-weight: 100;
}


/*Quiz Prompt Attributes*/
.quiz_prompt, #question_prompt, .quiz_end > h2 {
    margin: 10% 0 0 0;
    font-weight: 600;
}


/*Start Quiz Button Attributes*/
#start_quiz {
    text-align: center;
    padding: 1% 0 1% 0;
    margin: 3% 0 3% 0;
}

#start_quiz:hover {
    cursor: pointer;
}


/*Quiz Container Attributes*/
.quiz_container {
    padding: 20px;
    margin: 5% 10% 0 10%;
    border: 1px solid var(--button_background);
    border-radius: 16px;
    text-align: center;
    /* height: 500px; */
}

/*Quiz options list*/
ul li {
    list-style: none;
    text-align: left;
}

/*Button Style*/
button {
    display: inline-block;
    font-size: 16px;
    color: white;
    background-color: var(--button_background);
    transition-duration: 0.4s;
    padding: 1% 2%;
    margin: 1% 0% 1% 5%;
    text-decoration: none;
    text-align: left;
    border-radius: 6px;
    width: 200px;
}

button:hover {
    background-color: var(--secondary);
    cursor: pointer;
}