:root {
    --button_background: rgb(44, 123, 171);
    --line_background_primary: rgba(44, 122, 171, 0.644);
    --line_background_secondary: rgba(230, 126, 143, 0.721);
    --secondary: rgb(230, 126, 143);
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
}

a:focus, button:focus {
    border-color: var(--secondary);
}

.hidden {
    display: none;
}


/*High Score Link Style*/
#high_scores_link {
    position: relative;
    margin-left: 5%;
    font-size: 22px;
    font-weight: 100;
    color: var(--secondary);
}

#high_scores_link:hover {
    color: var(--button_background);
    cursor: pointer;
}


/*Timer Style*/
#timer {
    position: relative;
    color: var(--secondary);
    text-align: right;
    margin: 1% 5% 0 0;
    font-size: 22px;
    font-weight: 100;
}


/*Quiz Container Attributes*/
.quiz_container, .high_scores_container{
    padding: 20px;
    margin: 10% 10% 0 10%;
    border: 2px solid var(--button_background);
    border-radius: 16px;
    text-align: center;
    max-width: 75%;
    min-height: 450px;
}


/*Button Style*/
button {
    display: inline-block;
    font-size: 16px;
    color: white;
    background-color: var(--button_background);
    transition-duration: 0.4s;
    padding: 1% 2%;
    margin: 1% 0% 1% 5%;
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
    width: 203px;
}

button:hover {
    background-color: var(--secondary);
    cursor: pointer;
    color: var(--button_background);
}


/*Start Quiz Button Attributes*/
#start_quiz {
    padding: 1% 0 1% 0;
    margin: 3% 0 0 0;
}


/*Quiz Prompts Attributes*/
#quiz_prompt, #quiz_result > h2, .high_scores_container > h1 {
    margin: 10% 0 5% 0;
    padding: 0 2% 0 2%;
    font-size: 40px;
    font-weight: 600;
}

#quiz_result {
    line-height: 1.6;
}

#quiz_start {
    margin: 10% 0 0 0;
}

#question_prompt {
    margin: 5% 0 5% 0;
    padding: 0 2% 0 2%;
    font-weight: 600;
}


/*Quiz Answer Button Style*/
#options button {
    display: block;
    text-align: left;
}


/*Correct/Incorrect Answer Style*/
#answer_verification {
    color: var(--secondary);
    font-weight: 600;
    font-size: 120%;
    color: var(--secondary);
    margin-top: 5%;
    padding-top: 5%;
    border-top: 2px solid var(--secondary);
}

/*Submit Score Button Style*/
#submit_score {
    margin: 5% 0 0 0;
}

/*High Scores Style*/
#high_scores_container {
    margin: 5% 0 5% 0;
    padding: 0 2% 0 2%;
    font-weight: 600;
}

#high_scores li:nth-child(odd) {
    background-color: var(--line_background_primary);
}

#high_scores li:nth-child(even) {
    background-color: var(--line_background_secondary);
}

.high_scores_container button {
    margin: 5% 3% 0 3%;
}